@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.titleContainer {
  text-align: center;
  margin-bottom: 77px;
}

.footer {
  background: #141414;
  padding: 4.375rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  padding-left: 3.5rem;
}

.logo_text {
  font-size: 1.75rem;
  color: #D136D1;
  font-weight: bold;
}

.navbar {
  z-index: 1000;
}
.navbar a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 2rem;
  color: white;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3rem;
  color: #D136D1;
}

.title--title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  color: #D136D1;
  padding: 4px;
}

.title--subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.375rem;
  color: white;
  padding: 4px;
}

.hero_text {
  margin-left: 5%;
}
@media all and (max-width: 1650px) {
  .hero_text {
    z-index: 1000;
  }
}
.hero_text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 6.25rem;
  color: white;
}
.hero_text .hero_text--vol {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #D136D1;
  padding: 10px;
}
.hero_text .hero_text--date {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  color: white;
  padding: 10px;
}

.about_info--subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.about_info--title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3rem;
  color: #D136D1;
  padding: 1.5rem 0;
}

.about_info--desc {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.125rem;
  color: white;
  margin: 1rem 0;
  padding: 1rem 0;
}

.about_info--list {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 100;
  line-height: 2rem;
}

.speaker_title--title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  color: #D136D1;
  padding: 4px;
}

.speaker_title--subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.375rem;
  color: white;
  padding: 4px;
  margin-bottom: 57px;
}

.speaker_desc--name {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  color: #D136D1;
}

.speaker_desc--work {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.125rem;
  color: white;
  margin: 10px 0 30px 0;
}

.speaker_desc--desc {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 100;
}

.schedule--time {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: white;
  margin-right: 20rem;
  margin-left: 2rem;
}

.schedule_info--title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.375rem;
  color: #D136D1;
  padding-bottom: 1rem;
}

.schedule_info--desc {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}

.form_text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 100;
  margin-bottom: 0.8rem;
}

.needed {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  color: #D136D1;
}

.explain {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  color: white;
}

.checkbox_container {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 100;
  margin-right: 1.5rem;
}

.footer_text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: white;
}

.about {
  padding: 8rem;
  background: #141414;
}

.titleContainer {
  text-align: center;
  margin-bottom: 77px;
}

.about_infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_info--img {
  margin-right: 140px;
}

.about_info--text {
  display: block;
}

.session {
  padding: 8rem;
  background: #141414;
}

.schedule {
  display: flex;
  border-bottom: 1px solid #D136D1;
  padding: 2.625rem;
}

.speaker {
  padding: 8rem;
  background: linear-gradient(135deg, #0E002E 0%, #1E092B 25%, #320C65 50%, #A01B7C 75%, #C21780 100%);
}

.speaker_titleContainer {
  text-align: center;
  margin-bottom: 40px;
}

.speaker_desc {
  display: flex;
  margin-top: 56px;
  justify-content: center;
}

.speaker_desc--img {
  margin-left: 6.875rem;
  object-fit: cover;
}

.speaker_desc--img2 {
  margin-right: 6.875rem;
  object-fit: cover;
}

.speaker_desc--desc {
  overflow: hidden;
  line-height: 1.8rem;
}

.hero {
  display: block;
  width: 100%;
  height: 44rem;
  background: linear-gradient(135deg, #0E002E 0%, #1E092B 25%, #320C65 50%, #A01B7C 75%, #C21780 100%);
}
@media all and (max-width: 1650px) {
  .hero {
    z-index: -1;
  }
}
.hero .hero_main {
  display: flex;
  padding: 5rem 8.75rem 0 8.75rem;
}
.hero .hero_main .mainPicture {
  position: relative;
  height: 100%;
  width: 100%;
  top: -200px;
  right: -130px;
  z-index: 1;
  text-align: start;
}
@media all and (max-width: 1650px) {
  .hero .hero_main .mainPicture {
    right: 250px;
    z-index: 0;
  }
}
.hero .hero_main .mainPicture--title {
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.hero .hero_main .mainPicture--title .mainPicture--name {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  padding: 5px;
}
.hero .hero_main .mainPicture--title .mainPicture--function {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  padding: 5px;
}
.hero .hero_main--sub {
  display: flex;
}
.hero .hero_main--sub .sign {
  position: absolute;
  top: 40%;
  left: 30%;
}
@media all and (max-width: 1650px) {
  .hero .hero_main--sub .sign {
    display: grid;
  }
}
.hero .header_container {
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 1.75rem;
}

.registor {
  background-image: url("../../media/img/bg-1.png");
  background-repeat: repeat;
  padding: 8rem 38rem;
}
@media all and (max-width: 1650px) {
  .registor {
    padding: 8rem 24rem;
  }
}
@media all and (max-width: 1200px) {
  .registor {
    padding: 8rem 12rem;
  }
}
@media all and (max-width: 840px) {
  .registor {
    padding: 8rem 8rem;
  }
}

.form {
  background: #141414;
  border: 2px solid #D136D1;
  border-radius: 20px;
  padding: 3.5rem;
}

.form_item_container {
  display: flex;
}

.form_category {
  margin-bottom: 2.125rem;
}

.form_button {
  text-align: center;
}

.message_answer {
  width: 80%;
  height: 14rem;
  vertical-align: top;
}

.form_answer {
  padding: 0.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 20rem;
}

.myButton {
  width: 18.75rem;
  height: 4.563rem;
  background-image: linear-gradient(to right, #C41A7F 0%, #664BBF 100%);
  border-radius: 35px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.125rem;
  padding: 7px 25px;
  margin-top: 20px;
  text-decoration: none;
}
.myButton:hover {
  background-position: right center;
  box-shadow: 0px 10px 13px -7px #D136D1, 5px 5px 15px 5px #740174;
  transition: 0.3s ease-in-out;
}
.myButton:active {
  position: relative;
  top: 1px;
}
@media all and (max-width: 840px) {
  .myButton {
    width: 50%;
  }
}

.myFooterButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

/* Customize the label (the container) */
.checkbox_container {
  display: inline;
  position: relative;
  padding-left: 1.8rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 12;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: #D136D1;
  border: 1px solid #DD118E;
  background-position: right center;
  box-shadow: 0px 10px 13px -7px #D136D1, 5px 5px 25px 5px #740174;
  transition: 0.3s ease-in-out;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox_container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
